
body {
    text-align: center;
}

#main {
    border: 1px solid black;
    height: 420px;
    width: 408px;
    margin: 0 auto;
}

.square {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
}

#reset {
    margin: 40px auto;
}